*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#barra{
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 3vw;
    background-color: rgb(255, 255, 255);
}
h1{
    font-family: 'Nunito', sans-serif;
    font-size: 2vw;
    color: rgb(0, 0, 0);
}
#navbar{
    font-family: 'Nunito', sans-serif;
    position: sticky;
    top: 0;
    height: 3vw;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    float: left;
    width: 100%;
}
  
li {
    float: left;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #222222;
}
.nav-item{
    margin: auto;
}
#logo{
    text-align: center;
    margin-top: 4vw;
}
#objetivo{
    font-family: 'Nunito', sans-serif;
    padding-top: 4vw;
    font-size: 2vw;
    text-indent: 4vw;
    text-align: justify;
    margin-left: 8vw;
    margin-right: 8vw;
    color: rgb(0, 0, 0);
}
#funcionalidades{
    padding-top: 4vw;
    margin-left: 8vw;
    margin-right: 8vw;
    text-align: center;
}
#funcionalidades h1{
    padding-top: 2vw;
    font-size: 4vw;
}
#funcionalidades th{
    padding-top: 2vw;
    font-size: 2vw;
}
#funcionalidades td{
    padding-top: 2vw;
    font-size: 1.2vw;
    text-indent: 1vw;
}