*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#barra{
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 3vw;
    background-color: slategray;
}
h1{
    font-size: 2vw;
}
#navbar{
    float: right;
    height: 100%;
    margin-top: 3vw;
    margin-right: 5px;
}
ul{
    list-style-type: none;;
}