*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}
#barra{
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 3vw;
    background-color: rgb(255, 255, 255);
    background-repeat: no repeat;
    background-size: cover;
}
h1{
    font-family: 'Nunito', sans-serif;
    font-size: 2vw;
    color: rgb(0, 0, 0);
}
#navbar{
    font-family: 'Nunito', sans-serif;
    position: sticky;
    top: 0;
    height: 3vw;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    float: left;
    width: 100%;
}
  
li {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 20%;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #222222;
}
.nav-item{
    margin: auto;
}
#logo{
    height: 17vw;
    text-align: center;
    margin-top: 15vw;
    width: 100%;

}
#saberMais{
    text-align: center;
    font-size: 1.5vw;
    width: 12%;
    margin: auto;
    margin-bottom: 4vw;
}
#saberMais:hover{
    background-color: gray;
    text-decoration: none;
}
#saberMais a{
    text-decoration: none;
    color: black;
}
#objetivo{
    font-family: 'Nunito', sans-serif;
    padding-top: 5vw;
    padding-bottom: 3vw;
    font-size: 2vw;
    text-indent: 4vw;
    text-align: justify;
    margin-left: 8vw;
    margin-right: 8vw;
    color: rgb(0, 0, 0);
}
#blocoImagens{

}
#funcionalidades{
    padding-top: 1vw;
    margin-right: 20vw;
    margin-left:20vw;
}
#funcionalidades h1{
    padding-top: 2vw;
    font-size: 4vw;
    text-align: center;
}
#funcionalidades th{
    padding-top: 2vw;
    font-size: 2vw;
    position: relative;
    color:black;
    width: 30%;
    padding-right: 1vw;
    padding-left: 1vw;
}
#funcionalidades td{
    color:black;
    margin-left: 0px;
    margin-right:0px;
    font-size: 1vw;
    text-indent: 2vw;
    text-align:center;
    border: 3px solid #000000;
    border-radius:50px;
    margin-top: 0vw;
    width: 50%;
}
#funcionalidades h2{
    margin-top: 0vw;
    padding-top: 2vw;
    font-size: 2vw;
}
#table2 td{
    text-indent: 0;
    text-align: center;
}
#imgSoma{
    margin-left: 8vw;
    float: left;
    width: 35%;
}
#imgApp{
    margin-right: 8vw;
    float: right;
    width: 35%;
}
body{
    background-image: url(https://wallpapers.com/images/high/solid-white-snow-path-g0yyl4ojzm0clgxc.webp);
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
}
#tabela_descansar td{
    font-size:20px;
    font-weight: bold;
    margin-left: 0vw;
    float:left;
}
#sobreNosImg {
    width: 100%;
    position: relative;
}
#botaocomp {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

